@import '../utils/mixins';

.email {
  display: flex;
  width: auto;
  height: 400px;
  text-align: center;
  justify-content: center;
  background-color: #fff;

  &__background {
    background-image: url('../images/backimage--email.png');
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__content {
    margin-top: 70px;

    @include on-tablet {
      margin-top: 85px;
    }
  }

  &__tittle {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }

  &__about {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;

    @include on-tablet {
      margin-bottom: 65px;
    }
  }

  &__wrapper {
    display: flex;

    @include on-tablet {
      gap: 16px;
      text-align: center;
      justify-content: center;
    }

    @include on-desktop {
      gap: 30px;
    }
  }

  &__button--arrow {
    font-size: 35px;
    height: 50px;
    min-width: 50px;
    background-color: #f14a27;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    flex-shrink: 0;

    &:hover {
      background-color: #1a5a4c;
    }
  }
}

.subscribe {
  &__form {
    text-align: center;
    width: 100%;

    @include on-tablet {
      width: 380px;
    }

    @include on-tablet {
      width: 470px;
    }
  }

  &__button {
    text-decoration: none;
  }

  &__input {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #687480;
    height: 50px;
    padding-left: 25px;
    width: 100%;
  }
}
