@import '../utils/mixins';

.events {
  &__content {
    @include page-grid;

    text-align: center;
  }

  &__tittle {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    grid-column: 1 / -1;
    margin-bottom: 40px;

    @include on-tablet {
      margin-top: 80px;
      margin-bottom: 50px;
      text-align: left;
      font-size: 48px;
    }
  }

  &__img--first {
    width: 100%;
    height: 210px;
    object-fit: cover;
    grid-column: 1 / -1;

    @include on-tablet {
      height: 520px;
    }

    @include on-desktop {
      grid-column: 1 / 8;
      margin-bottom: 104px;
    }
  }

  &__img--second {
    width: 100%;
    height: 210px;
    object-fit: cover;
    grid-column: 1 / -1;

    @include on-tablet {
      height: 520px;
    }

    @include on-desktop {
      grid-column: 1 / 8;
      margin-bottom: 104px;
    }
  }

  &__img--third {
    width: 100%;
    height: 210px;
    object-fit: cover;

    @include on-tablet {
      height: 400px;
    }
  }

  &__container--third {
    grid-column: 1 / -1;
    margin-inline: -20px;
  }

  &__block--first {
    grid-column: 1 / -1;
    margin-bottom: 60px;

    @include on-desktop {
      grid-column: 9 / 13;
    }
  }

  &__block--second {
    grid-column: 1 / -1;
    margin-bottom: 60px;

    @include on-desktop {
      grid-column: 9 / 13;
    }
  }

  &__block--third {
    grid-column: 1 / -1;
    margin-bottom: 60px;
    position: relative;
    width: 100%;
    max-width: 350px;
    border-radius: 4px;
    overflow: visible;
  }

  &__card--underline {
    width: 100%;
    height: 2px;
    background-color: #1a5a4c;
    margin: 0 auto;
    opacity: 0.3;
    margin-top: 20px;
  }

  &__card--info {
    grid-column: 1 / -1;
    display: block;
    margin-top: -70px;
    background-color: #fff;
    margin-bottom: 40px;

    @include on-desktop {
      width: 600px;
      grid-column: 5 / 9;
    }
  }

  &__about {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;

    @include on-tablet {
      margin-top: 44px;
      margin-bottom: 32px;
    }
  }

  &__about--third {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-inline: 20px;

    @include on-tablet {
      margin-top: 45px;
      padding-inline: 55px;
    }
  }

  &__show {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
  }

  &__data {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1a5a4c;
    margin-top: -5px;
  }

  &__remember {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;

    @include on-tablet {
      margin-bottom: 15px;
    }
  }

  &__tittle--about {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;

    @include on-tablet {
      grid-column: 3 / 5;
      text-align: left;
      margin-top: 25px;
      font-size: 36px;
    }
  }

  &__tittle--abouts {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;

    @include on-tablet {
      grid-column: 3 / 5;
      text-align: left;
      margin-left: 55px;
      margin-top: 25px;
      font-size: 36px;
    }
  }

  &__cursor--square {
    width: 8px;
    height: 8px;
    background-color: red;
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  &__about--tittle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
  }
}

.events__responsive-space {
  display: none;
}

@include on-tablet {
  .events__responsive-space {
    display: block;
  }
}
