.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;

  &--menu {
    background-image: url('../icons/btn--menu.png');

    &:hover {
      @include transision;
    }
  }

  &--close {
    background-image: url('../icons/icon--close.png');
    position: absolute;
    top: 25px;
    z-index: 10000;

    &:hover {
      @include transision;
    }
  }
}
