.top__bar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;

  &__logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    z-index: 1;

    @include on-tablet {
      transform: translateX(-50%);
    }
  }

  &--container {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
  }

  &__logo {
    width: auto;
    height: 61px;
    display: flex;
    margin-top: 9px;
  }

  &--icons {
    z-index: 2;
  }
}

.top--bars {
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  height: 100%;
}
